<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>System Login</title>
    </h:head>
    <h:body>
        <p>
            Congratulations, you are successfully logged in!
        </p>
        <p>
            This page <i>is</i> protected by container managed authentication. You should not be able to access it unless you are logged in.
        </p>
        <h:form>
            <p>
                <h:commandButton value="Logout" action="#{accountController.logoutContainer}"/>
            </p>
        </h:form>
    </h:body>
</html>

