<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p>
            An error occurred when attempting to communicate with the database.
        </p>
        <p>
            Please check your GlassFish settings.
        </p>
        <p>
            You have been redirected to this error page because of the configuration in web.xml:
        </p>
        <pre>
    &lt;error-page>
        &lt;exception-type>au.edu.uts.aip.accounts.DataStoreException&lt;/exception-type>
        &lt;location>/faces/datastore_error.xhtml&lt;/location>
    &lt;/error-page>
        </pre>
        <p>
            The underlying error message was:
            <b><h:outputText value="#{facesContext.externalContext.requestMap['javax.servlet.error.message']}"/></b>
        </p>
    </h:body>
</html>

