<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Week 5 Tutorials</title>
    </h:head>
    <h:body>
        <h1>Week 5 Tutorials</h1>
        <p>Before running this project, you need to:</p>
        <ul>
            <li>Create a JavaDB database named aip, with username aip and password aip.</li>
            <li>Execute the SQL file named create_db.sql (you can find it using the files tab) on the database named aip.</li>
            <li>Create a JDBC Connection Pool in the GlassFish Server Administration Console.</li>
            <li>Create a JDBC Resource named "jdbc/aip" in the GlassFish Server Administration Console.</li>
            <li>Configure the container managed security realm named aipRealm.</li>
        </ul>
        <p>Full instructions for this configuration can be found in the Week 5 tutorials.</p>
        <p>Please note that it is important to follow the configuration very closely. Typos in the configuration may stop your project from working.</p>
        <p><h:link value="View records in the database" outcome="accounts"/></p>
        <p><h:link value="Log in using DAO" outcome="daologin"/></p>
        <p><h:link value="Log in using container-managed authentication" outcome="login"/></p>
        <p><h:link value="Attempt to access a page that has been secured using container-managed authentication" outcome="welcome"/> (you will be redirected to the login page)</p>
    </h:body>
</html>

