<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>System Login</title>
    </h:head>
    <h:body>
        <h1>Login Form</h1>
        <p>
            This log in form uses a container-based login check.
        </p>
        <p>
            You can use the following username/passwords: cbrady2/password, mbrady2/qwerty, anelson2/123456, sfranklin2/iloveyou (note that the usernames are slightly different from the ones I created for the DAO login).
        </p>
        <h:form>
            <p>
                <label>Username:
                    <h:inputText value="#{accountController.username}"/>
                </label>
            </p>
            <p>
                <label>Password:
                    <h:inputSecret value="#{accountController.password}"/>
                </label>
            </p>
            <h:messages style="color: red;"/>
            <p>
                <h:commandButton value="Log In" action="#{accountController.loginContainer}"/>
            </p>
        </h:form>
    </h:body>
</html>

