<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>System Login</title>
    </h:head>
    <h:body>
        <p>
            Congratulations, you have successfully logged in!
        </p>
        <p>
            (This particular page, welcome_not_secure.xhtml <i>is not</i> protected by container managed authentication.)
        </p>
    </h:body>
</html>

